<%- include("partials/header"); -%>

<h3 style="margin-top:20px;text-align: center;"><em>ABOUT US</em></h3>
<p style="margin-top:20px;text-align: justify; margin-bottom:50px;">The word "Lockdown" was really new to the public. It was only during the first wave of Covid-19 that the real brunt of the word was felt by the common man.
To add to the miseries, the general public was devastated to meet the requirements of <strong>"hand-to-mouth"</strong>. It was then Praveen who shared the thought of helping the distraught.
The initiative that started as a help to near and dear ones like 3 to 4 people was thought over to be extended to reach a larger population.
<br>
<br>
Then the real unexpected happened! A single call to all the donors recieved an overwhelming response which even shocked us. This reinforced the faith that humanity still exists. The callout to donors recieved an unprecedented collection of almost 8.5 lakh rupees. The needy were identified by several volunteers across the state. A prompt amount ranging from ₹ 2000 upto an entire year's school fee reached the real needy.
An unscathed attempt was done to promptly deposit the amount to their bank accounts. This data promptly reached the donors for retrospective evaluation. In addition, even groceries sufficing for a month were distributed to 50 families.
The pandemic is continuing to devastate the lives of many in the second wave too.
<br>
<br>
 <strong>We are continuing the initiative to give a helping hand again to the real needy even in 2021. We humbly call upon for your thunderous response even this year so that the deprived can find solace and be a <em>LIGHT</em> to their lives.</strong>
 </p>

<hr>


<h3 style="margin-top:20px;text-align: center;"><em>TESTIMONIALS</em></h3>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top:30px;margin-bottom:100px;">
  <div class="carousel-inner">
     <div class="carousel-item active">
        <p class="testimonial-text" style="text-align: justify;"> "In last one year, we have witnessed one of the toughest times ever in our country’s history. Due to wild spread of pandemic, lock down was imposed. This impacted the life of millions of people in below poverty line. It was at that time, a small team of like minded members led by Guru Prasad, Sumukh and Praveen came forward to help the underprivileged. Guru and team contacted like minded people and started collecting funds. They planned for a very systematic approach of identifying the real needy and support them financially and through other means. The financial support was extended to the needy who were desperate for money to meet the medical emergencies, the running of day to day work, educational needs etc. Around 8.5 Lakhs was collected and was distributed to the needy over 6 months. The leadership, commitment exhibited by Guru, Sumukh, Praveen and team is truly heartening. They in turn inspired lot more youngsters to come forward and take part in this noble act. I truly admire and appreciate the enthusiasm and commitment of Guru, Sumukh and Praveen and team. I wish to specifically call out Sumukh’s role in ensuring that all the required items were managed well including packaging and shipping. Being a youngster, he will surely inspire many of his age group people.
          I wish them good luck in all their future endeavours."</p>
          <img class="testimonial-image" src="/testimonial-images/sunder sir.jpg">
          <p class="text"><em>Sundar KS, Associate Vice President</em></p>
            <em class= "texts">Infosys Limited, Mysore</em>

    </div>
    <div class="carousel-item not">
       <p class="testimonial-text" style="text-align: justify;"> "Year of 2020-21 will be etched in everyone's memory for a long time to come. We have seen people suffering great deal because of this pandemic. This also showed the brighter side of humanity, where lot of volunteers worked tirelessly to get help required for the needy. While lot of people have good intentions of helping, they are always in doubt of whether the donations that they give will reach the needy. You need sincere, dedicated people who will ensure this happens. One such team that worked to serve the needy in this time of distress was Guru,Praveen and Sumukha.
       Starting from identifying the needy, their needs, collecting donations and converting those to the needs (provisions to sustain a family for one month) and dispatching them during times of lock-down. It was an act done incredibly well by the team. In fact, traceability was provided to the extent of informing the donors of their beneficiaries.
       I would commend Guru and Sumukha for having done such an amazing job in these critical times."</p>
         <img class="test-image" src="/testimonial-images/sunil sir.jpg">
         <p class="tex"><em>Sunil HR , VP-Technology & Solutions</em></p>
           <em class= "texs">Saankhya Labs Pvt. Ltd., Bangalore</em>

   </div>
    <div class="carousel-item not">
      <p class="testimonial-text" style="text-align: justify;">"Corona virus has created havoc in the life of the mankind. This has left many fellow Indians jobless and have lost all the savings what they had accumulated. Ever increasing hospital and medicine costs have aggravated the sufferings.
Some of the volunteers have done remarkable service to the needy during wave 1 and are continuing to do during wave 2. They have taken it upon them to serve the larger needy people starting with collecting the database, assessing the need, and providing what is needed to survive at the time of this deadly pandemic.
Lets all join hands together for this noble cause and provide what help we could afford in terms of cash, kind, manpower or service.
Together we can make a recovery. Please Support the cause."</p>
 <img class="test-image testament" src="/testimonial-images/praveen.jpeg">
 <p class="textss"><em>Praveen DN, Practice Director </em></p>
   <em class= "texas">Inspirage Software Consulting Pvt. Ltd.</em>
    </div>
  </div>



  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<%- include("partials/footer"); -%>
