<%- include("partials/header"); -%>

<section id="contact">
  <div class="container">
  <h4>WE VALUE YOUR FEEDBACK</h4>
<hr>
    <div class="row">
      <div class="col-md-6">
       <form class="" action="/contact" method="post">
          <div class="form-group">
            <label class="col-lg-6 col-form-label" for="name">Your Name/ಹೆಸರು</label>
            <input type="text" name="name" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label class="col-lg-6 col-form-label" for="name">Phone No/ದೂರವಾಣಿ ಸಂಖ್ಯೆ</label>
            <input type="text" name="number"  class="form-control" placeholder="Phone No">
          </div>
          <div class="form-group">
            <label class="col-lg-6 col-form-label" for="name">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email Id">
          </div>
          <div class="form-group">
            <label class="col-lg-6 col-form-label" for="name">Message/ಸಂದೇಶ</label>
            <textarea class="form-control" name="message" rows="4" placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary butn">SUBMIT</button>
        </form>
      </div>
               <div class="col-md-3 contact-info inf">
                     <div class="follow"><b>Address:</b> <i class="fa fa-map-marker" aria-hidden="true"></i>
                         #1121 14th Cross 1st Stage 1st Phase Chandralayout Banglore-560072</div>


                       <div class="follow"><b>Phone Number:</b> <i class="fa fa-phone" aria-hidden="true"></i>
                        +91 9901452988</div>


                       <div class="follow"><b>Email:</b> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                          sumukh1340@gmail.com</div>
                      <iframe class="fr" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.299712997514!2d77.52042381464491!3d12.952663590868339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3f14fcdcdc33%3A0x79abe0e722a491c7!2sINSPEREL%20MEDITECH%20PVT.LTD!5e0!3m2!1sen!2sin!4v1619377190939!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>

        </div>

      </div>



</section>
<%- include("partials/footer"); -%>
