<%- include("partials/header"); -%>
<div class="gpay">
  <img src="/donate-images/gpay deets.jpg" width="800" >
    <p class="gp"><b><em>You can donate any amount as per your wish.</em></b></p>
</div>


<%- include("partials/footer"); -%>
