<%- include("partials/header"); -%>

<section id="gallery">
  <div class="container">
    <div class="one">
      <br>
      <h4><em>GROCERIES DELIVERED</em></h4>
      <div class="row products">
        <div class="col-lg-3 text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/4.jpg">

          </div>
        </div>
        <div class="col-lg-3  text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/5.jpg">

          </div>
        </div>
        <div class="col-lg-3 text-center">
          <div class="img centre">

            <img class="imagee" src="/gallery-images/groceries.jpeg">

          </div>
        </div>
        <div class="col-lg-3 text-center">
          <div class="img centre ">
            <img class="imagee" src="/gallery-images/16.jpeg">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="benif">
  <div class="container">
    <div class="one">
      <br>
      <h4><em>SOME BENEFICIARIES OF THE "LIGHT" INITIATIVE</em></h4>
      <div class="row products">
        <div class="col-lg-3 text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/6.jpg">

          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/3.jpg">

          </div>
        </div>

        <div class="col-lg-3 text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/11.jpg">

          </div>
        </div>


        <div class="col-lg-3 text-center">
          <div class="img centre">
            <img class="imagee" src="/gallery-images/2.jpg">

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="trust">
  <div class="container">
    <div class="three">
      <br>
      <h4><em>WE ENSURE UNSCATHED TRANSFERS</em></h4>

      <a href="https://drive.google.com/drive/folders/1JG-DGSLHo8OHPtgHtN-KbyY2R6F2GRwK?usp=sharing"><h6>The details can be viewed here.</h6></a></p>



</section>

<%- include("partials/footer"); -%>
