<%- include("partials/header"); -%>
<div class="jumbotron big">
  <h1 class="display-4"style="color:black">BE THE "LIGHT"!</h1>
  <p class="leads"style="color:black"><b><em>A non profit initiative to help lives affected by Covid-19, providing them the most basic necessities.</em></b></p>
  <hr class="my-4">
  <p class = "leadss"><b><em>This initiative has already helped over 200 families by providing groceries & monetary benifits through crowdfunding.</em></b>
  </p>
  <p class="lead">
    <a class="btn btn-dark" href="/about" role="button">Learn more</a>
  </p>
</div>




<hr>
<div class="row" style="margin: auto;margin-bottom:50px;">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center ">
            <h3 style="margin-top:20px;margin-bottom:20px;"><em>Program Impact</em></h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 text-center impact impa">
            <img src="/home-images/ppl.jpg" class = "pactss" class="img-responsive center-block" height="150" width="200">
            <p  class="stable"><b class="ts">320+ <br>Families Helped</b></p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 text-center impact">
  <img src="/home-images/vol.jpg" class="img-responsive block" class="block" height="150" width="200">
            <p class = "pac"><b class="t100">150+ <br>Volunteers</b></p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 text-center impact">
<img class = "pacts" style="text-align: center;"src="/home-images/loc.jpg" class="img-responsive center-block" height="150" width="160">
            <p class="pat"><b class="t10">15+<br> Districts Covered</b></p>
          </div>
        </div>

        <hr>
        <section id="video-gallery" class="videos">
            <div class="container">
              <div class="video">
                 <h4 class="dist"><em>DISTRIBUTION VIDEOS</em></h4>
                 <video class = "i" width="420" height="250"
                  src="/gallery-images/9.mp4" controls>
               </video>
               <video class = "intro" width="420" height="250"
                src="/gallery-images/1.mp4" controls>
             </video>
                  </div>
            </div>
        </section>
<%- include("partials/footer"); -%>
