<%- include("partials/header"); -%>


<div class="im">
     <h4>PRODUCTS PROVIDED with QUANTITY</h4>
       <img class="items" src="/product-images/items.jpg">
</div>


<%- include("partials/footer"); -%>
