<%- include("partials/header"); -%>

<section id="products" style="background:#F2F2F2; margin-top:40px;margin-bottom:30px;padding-bottom:20px;border-radius:6px;">
    <div class="container">
      <div class="one">
        <br>
         <h4>CODE FOR PRODUCTS</h4>
        <div class="row products">
          <div class="col-lg-3 text-center">
                <div class="img centre">
                    <img  class="images" src="/product-images/rice.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text1">RICE/ಅಕ್ಕಿ</button>
                    <br>
                    <div id="text1" class="collapse"><p>CODE:01</p></div>

                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">
                    <img class="images" src="/product-images/flour.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text2">WHEAT FLOUR/ಗೋಧಿ ಹಿಟ್ಟು</button>
                    <br>
                    <div id="text2" class="collapse">CODE:10</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">

                    <img  class="images" src="/product-images/jaggery.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text3">JAGGERY/ಬೆಲ್ಲ</button>
                    <br>
                    <div id="text3" class="collapse">CODE:11</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">
                    <img class="images" src="/product-images/spices.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text4">SPICES/ಮಸಾಲೆಗಳು</button>
                    <br>
                    <div id="text4" class="collapse">CODE:100</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">
  <br>
                    <img class="images" src="/product-images/dal.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text5">DAL/ಬೇಳೆ</button>
                    <br>
                    <div id="text5" class="collapse">
                      CODE:101
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">
  <br>
                    <img  class="images"src="/product-images/salt.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text6">SALT/ಉಪ್ಪು</button>
                    <br>
                    <div id="text6" class="collapse">CODE:110</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre">
  <br>
                    <img class="images" src="/product-images/sugar.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text7">SUGAR/ಸಕ್ಕರೆ</button>
                    <br>
                    <div id="text7" class="collapse">CODE:111</div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="img centre ">
  <br>
                    <img class="images" src="/product-images/cooking oil.jpg">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#text8">COOKING OIL/ಅಡುಗೆ ಎಣ್ಣೆ</button>
                    <br>
                    <div id="text8" class="collapse">CODE:1000</div>
                </div>
            </div>
        </div>
          </div>
    </div>
</section>

<%- include("partials/footer"); -%>
